################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/References/UnityEngine.UnityWebRequestWWWModule.dll
/References/UnityEngine.UI.dll
/References/UnityEngine.ImageConversionModule.dll
/References/UnityEngine.Il2CppImageConversionManager.dll
/References/UnityEngine.CoreModule.dll
/References/UnityEngine.AudioModule.dll
/References/UnhollowerBaseLib.dll
/References/MelonLoader.ModHandler.dll
/References/Il2CppSystem.dll
/References/Il2Cppmscorlib.dll
/References/Assembly-CSharp.dll
/Output/VRCPlusPet
/obj/Release
/.vs
